/*
Theme Name: Alfa-Dark
Description: Child theme Alfa
Author: Mitchell Bray
Version: 1.0.2
Template: pressedCore
GitHub Theme URI: https://github.com/unetics/ALPHA-Dark
GitHub Branch:master
*/

@import url("../assets/css/site.css");